## Trabalho de IA - Previsão de Churn e Segmentação de Clientes em Telecom

### 4.1 Etapa 1: Coleta, Limpeza e EDA
1. Importar o CSV no Pandas, verificar estatísticas básicas (.describe(), .info()).

In [2]:
# 1. Importar Pandas e Numpy e em seguida importar o CSV no Pandas

import pandas as pd

try:
    df = pd.read_csv("../data/WA_Fn-UseC_-Telco-Customer-Churn.csv")
except Exception as e:
    print(f"Erro ao importar o dataset: {e}")
    exit()

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
# Verificar estatísticas
print("\n Informações do DataFrame (.info()) ")
df.info()

 Informações do DataFrame (.info())
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
print("\n Estatísticas Descritivas (.describe()) ")
# Incluir colunas de objetos para uma visão mais completa
df.describe(include='all')

 Estatísticas Descritivas (.describe())

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,7590-VHVEG,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

 2. Tratar valores faltantes e inconsistências

In [5]:
# A coluna 'TotalCharges' é do tipo 'object'(string) mas deveria ser numérica.
# Pode haver espaços em branco que precisam ser tratados e convertidos para numérico.

print("\n Verificando valores únicos em colunas categóricas ")
for column in df.columns:
    if df[column].dtype == 'object':
        print(f"\nColuna '{column}':")
        print(df[column].value_counts())

 Verificando valores únicos em colunas categóricas

Coluna 'customerID':
customerID
7590-VHVEG    1
5575-GNVDE    1
3668-QPYBK    1
7795-CFOCW    1
9237-HQITU    1
             ..
6840-RESVB    1
2234-XADUH    1
4801-JZAZL    1
8361-LTMKD    1
3186-AJIEK    1
Name: count, Length: 7043, dtype: int64

Coluna 'gender':
gender
Male      3555
Female    3488
Name: count, dtype: int64

Coluna 'Partner':
Partner
No     3641
Yes    3402
Name: count, dtype: int64

Coluna 'Dependents':
Dependents
No     4933
Yes    2110
Name: count, dtype: int64

Coluna 'PhoneService':
PhoneService
Yes    6361
No      682
Name: count, dtype: int64

Coluna 'MultipleLines':
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

Coluna 'InternetService':
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

Coluna 'OnlineSecurity':
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

Coluna 'OnlineBackup':
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64

Coluna 'DeviceProtection':
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

Coluna 'TechSupport':
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

Coluna 'StreamingTV':
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64

Coluna 'StreamingMovies':
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64

Coluna 'Contract':
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

Coluna 'PaperlessBilling':
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64

Coluna 'PaymentMethod':
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

Coluna 'TotalCharges':
TotalCharges
20.2      11
          11
19.75      9
19.65      8
19.9       8
          ..
1990.5     1
7362.9     1
346.45     1
306.6      1
108.15     1
Name: count, Length: 6531, dtype: int64

Coluna 'Churn':
Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [6]:
# Tratamento da coluna 'TotalCharges'
# Convertendo 'TotalCharges' para numérico, tratando erros com 'coerce' (transforma em NaN)
print("\n Tratando a coluna 'TotalCharges' ")
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

print(df['TotalCharges'])

 Tratando a coluna 'TotalCharges'
0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [7]:
# Preencher valores faltantes na coluna 'TotalCharges'
# Para esses caso, vamos preencher com 0, pois representa novos clientes.
df['TotalCharges'].fillna(0, inplace=True)

C:\Users\reyna\AppData\Local\Temp\ipykernel_30276\943825514.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(0, inplace=True)

In [8]:
# Verificação final de valores faltantes
print("\n Verificação final de valores faltantes ")
print(df.isnull().sum())

 Verificação final de valores faltantes
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Tratamento de outras inconsistências (se houver, baseado nas value_counts)
Exemplo: Se 'No phone service' ou 'No internet service' fossem tratados de forma diferente ou se houvesse algum erro de digitação. No dataset Telco Churn, essas são categorias válidas.

In [9]:
# Convertendo a coluna 'Churn' para valores binários (0 e 1)
print("\n Convertendo 'Churn' para valores binários (0 e 1) ")
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
print(df['Churn'].value_counts())

 Convertendo 'Churn' para valores binários (0 e 1)
Churn
0    5174
1    1869
Name: count, dtype: int64

In [10]:
print("\n DataFrame após tratamento ")
df.info()
print(df.describe(include='all'))
df.head()

 DataFrame após tratamento
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB
        customerID gender  SeniorCitizen Partner Dependents       tenure  \
count         7043   7043    7043.000000    7043       7043  7043.000000
unique        7043      2            NaN       2          2          NaN
top     7590-VHVEG   Male            NaN      No         No          NaN
freq             1   3555            NaN    3641       4933          NaN
mean           NaN    NaN       0.162147     NaN        NaN    32.371149
std            NaN    NaN       0.368612     NaN        NaN    24.559481
min            NaN    NaN       0.000000     NaN        NaN     0.000000
25%            NaN    NaN       0.000000     NaN        NaN     9.000000
50%            NaN    NaN       0.000000     NaN        NaN    29.000000
75%            NaN    NaN       0.000000     NaN        NaN    55.000000
max            NaN    NaN       1.000000     NaN        NaN    72.000000

       PhoneService MultipleLines InternetService OnlineSecurity  ...  \
count          7043          7043            7043           7043  ...
unique            2             3               3              3  ...
top             Yes            No     Fiber optic             No  ...
freq           6361          3390            3096           3498  ...
mean            NaN           NaN             NaN            NaN  ...
std             NaN           NaN             NaN            NaN  ...
min             NaN           NaN             NaN            NaN  ...
25%             NaN           NaN             NaN            NaN  ...
50%             NaN           NaN             NaN            NaN  ...
75%             NaN           NaN             NaN            NaN  ...
max             NaN           NaN             NaN            NaN  ...

       DeviceProtection TechSupport StreamingTV StreamingMovies  \
count              7043        7043        7043            7043
unique                3           3           3               3
top                  No          No          No              No
freq               3095        3473        2810            2785
mean                NaN         NaN         NaN             NaN
std                 NaN         NaN         NaN             NaN
min                 NaN         NaN         NaN             NaN
25%                 NaN         NaN         NaN             NaN
50%                 NaN         NaN         NaN             NaN
75%                 NaN         NaN         NaN             NaN
max                 NaN         NaN         NaN             NaN

              Contract PaperlessBilling     PaymentMethod MonthlyCharges  \
count             7043             7043              7043    7043.000000
unique               3                2                 4            NaN
top     Month-to-month              Yes  Electronic check            NaN
freq              3875             4171              2365            NaN
mean               NaN              NaN               NaN      64.761692
std                NaN              NaN               NaN      30.090047
min                NaN              NaN               NaN      18.250000
25%                NaN              NaN               NaN      35.500000
50%                NaN              NaN               NaN      70.350000
75%                NaN              NaN               NaN      89.850000
max                NaN              NaN               NaN     118.750000

        TotalCharges        Churn
count    7043.000000  7043.000000
unique           NaN          NaN
top              NaN          NaN
freq             NaN          NaN
mean     2279.734304     0.265370
std      2266.794470     0.441561
min         0.000000     0.000000
25%       398.550000     0.000000
50%      1394.550000     0.000000
75%      3786.600000     1.000000
max      8684.800000     1.000000

[11 rows x 21 columns]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

3.  Converter variáveis categóricas via One-Hot Encoding

In [11]:
print("\n Realizando One-Hot Encoding em variáveis categóricas ")

# Identificar colunas categóricas para OneHot Encoding
# Excluímos 'customerID' porque é um identificador e 'Churn' porque já foi convertida para numérica.
categorical_cols = [col for col in df.columns if df[col].dtype == 'object' and col != 'customerID']

 Realizando One-Hot Encoding em variáveis categóricas

In [12]:
# Aplicar One-Hot Encoding usando pd.get_dummies
# 'drop_first=True' é usado para evitar a armadilha da variável dummy, removendo a primeira categoria de cada coluna.
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [13]:
#Após a utilização do OneHot Enconding, pegaremos as colunas do tipo booleano e convertemos e converteremos para colunas numéricas.

print("\n Convertendo colunas booleanas (True/False) para 0 e 1 ")
for column in df.columns:
    if df[column].dtype == bool:
        df[column] = df[column].astype(int)
        print(f"Coluna '{column}' convertida de booleano para int (0/1).")

print("\n DataFrame após OneHot Encoding ")
df.head()

 Convertendo colunas booleanas (True/False) para 0 e 1
Coluna 'gender_Male' convertida de booleano para int (0/1).
Coluna 'Partner_Yes' convertida de booleano para int (0/1).
Coluna 'Dependents_Yes' convertida de booleano para int (0/1).
Coluna 'PhoneService_Yes' convertida de booleano para int (0/1).
Coluna 'MultipleLines_No phone service' convertida de booleano para int (0/1).
Coluna 'MultipleLines_Yes' convertida de booleano para int (0/1).
Coluna 'InternetService_Fiber optic' convertida de booleano para int (0/1).
Coluna 'InternetService_No' convertida de booleano para int (0/1).
Coluna 'OnlineSecurity_No internet service' convertida de booleano para int (0/1).
Coluna 'OnlineSecurity_Yes' convertida de booleano para int (0/1).
Coluna 'OnlineBackup_No internet service' convertida de booleano para int (0/1).
Coluna 'OnlineBackup_Yes' convertida de booleano para int (0/1).
Coluna 'DeviceProtection_No internet service' convertida de booleano para int (0/1).
Coluna 'DeviceProtection_Yes' convertida de booleano para int (0/1).
Coluna 'TechSupport_No internet service' convertida de booleano para int (0/1).
Coluna 'TechSupport_Yes' convertida de booleano para int (0/1).
Coluna 'StreamingTV_No internet service' convertida de booleano para int (0/1).
Coluna 'StreamingTV_Yes' convertida de booleano para int (0/1).
Coluna 'StreamingMovies_No internet service' convertida de booleano para int (0/1).
Coluna 'StreamingMovies_Yes' convertida de booleano para int (0/1).
Coluna 'Contract_One year' convertida de booleano para int (0/1).
Coluna 'Contract_Two year' convertida de booleano para int (0/1).
Coluna 'PaperlessBilling_Yes' convertida de booleano para int (0/1).
Coluna 'PaymentMethod_Credit card (automatic)' convertida de booleano para int (0/1).
Coluna 'PaymentMethod_Electronic check' convertida de booleano para int (0/1).
Coluna 'PaymentMethod_Mailed check' convertida de booleano para int (0/1).

 DataFrame após OneHot Encoding

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,29.85,29.85,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,5575-GNVDE,0,34,56.95,1889.50,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,3668-QPYBK,0,2,53.85,108.15,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1
3,7795-CFOCW,0,45,42.30,1840.75,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9237-HQITU,0,2,70.70,151.65,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [14]:
df.info()
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7043 non-null   object
 1   SeniorCitizen                          7043 non-null   int64
 2   tenure                                 7043 non-null   int64
 3   MonthlyCharges                         7043 non-null   float64
 4   TotalCharges                           7043 non-null   float64
 5   Churn                                  7043 non-null   int64
 6   gender_Male                            7043 non-null   int64
 7   Partner_Yes                            7043 non-null   int64
 8   Dependents_Yes                         7043 non-null   int64
 9   PhoneService_Yes                       7043 non-null   int64
 10  MultipleLines_No phone service         7043 non-null   int64
 11  MultipleLines_Yes                      7043 non-null   int64
 12  InternetService_Fiber optic            7043 non-null   int64
 13  InternetService_No                     7043 non-null   int64
 14  OnlineSecurity_No internet service     7043 non-null   int64
 15  OnlineSecurity_Yes                     7043 non-null   int64
 16  OnlineBackup_No internet service       7043 non-null   int64
 17  OnlineBackup_Yes                       7043 non-null   int64
 18  DeviceProtection_No internet service   7043 non-null   int64
 19  DeviceProtection_Yes                   7043 non-null   int64
 20  TechSupport_No internet service        7043 non-null   int64
 21  TechSupport_Yes                        7043 non-null   int64
 22  StreamingTV_No internet service        7043 non-null   int64
 23  StreamingTV_Yes                        7043 non-null   int64
 24  StreamingMovies_No internet service    7043 non-null   int64
 25  StreamingMovies_Yes                    7043 non-null   int64
 26  Contract_One year                      7043 non-null   int64
 27  Contract_Two year                      7043 non-null   int64
 28  PaperlessBilling_Yes                   7043 non-null   int64
 29  PaymentMethod_Credit card (automatic)  7043 non-null   int64
 30  PaymentMethod_Electronic check         7043 non-null   int64
 31  PaymentMethod_Mailed check             7043 non-null   int64
dtypes: float64(2), int64(29), object(1)
memory usage: 1.7+ MB
        customerID  SeniorCitizen       tenure  MonthlyCharges  TotalCharges  \
count         7043    7043.000000  7043.000000     7043.000000   7043.000000
unique        7043            NaN          NaN             NaN           NaN
top     7590-VHVEG            NaN          NaN             NaN           NaN
freq             1            NaN          NaN             NaN           NaN
mean           NaN       0.162147    32.371149       64.761692   2279.734304
std            NaN       0.368612    24.559481       30.090047   2266.794470
min            NaN       0.000000     0.000000       18.250000      0.000000
25%            NaN       0.000000     9.000000       35.500000    398.550000
50%            NaN       0.000000    29.000000       70.350000   1394.550000
75%            NaN       0.000000    55.000000       89.850000   3786.600000
max            NaN       1.000000    72.000000      118.750000   8684.800000

              Churn  gender_Male  Partner_Yes  Dependents_Yes  \
count   7043.000000  7043.000000  7043.000000     7043.000000
unique          NaN          NaN          NaN             NaN
top             NaN          NaN          NaN             NaN
freq            NaN          NaN          NaN             NaN
mean       0.265370     0.504756     0.483033        0.299588
std        0.441561     0.500013     0.499748        0.458110
min        0.000000     0.000000     0.000000        0.000000
25%        0.000000     0.000000     0.000000        0.000000
50%        0.000000     1.000000     0.000000        0.000000
75%        1.000000     1.000000     1.000000        1.000000
max        1.000000     1.000000     1.000000        1.000000

        PhoneService_Yes  ...  StreamingTV_No internet service  \
count        7043.000000  ...                      7043.000000
unique               NaN  ...                              NaN
top                  NaN  ...                              NaN
freq                 NaN  ...                              NaN
mean            0.903166  ...                         0.216669
std             0.295752  ...                         0.412004
min             0.000000  ...                         0.000000
25%             1.000000  ...                         0.000000
50%             1.000000  ...                         0.000000
75%             1.000000  ...                         0.000000
max             1.000000  ...                         1.000000

        StreamingTV_Yes  StreamingMovies_No internet service  \
count       7043.000000                          7043.000000
unique              NaN                                  NaN
top                 NaN                                  NaN
freq                NaN                                  NaN
mean           0.384353                             0.216669
std            0.486477                             0.412004
min            0.000000                             0.000000
25%            0.000000                             0.000000
50%            0.000000                             0.000000
75%            1.000000                             0.000000
max            1.000000                             1.000000

        StreamingMovies_Yes  Contract_One year  Contract_Two year  \
count           7043.000000        7043.000000        7043.000000
unique                  NaN                NaN                NaN
top                     NaN                NaN                NaN
freq                    NaN                NaN                NaN
mean               0.387903           0.209144           0.240664
std                0.487307           0.406726           0.427517
min                0.000000           0.000000           0.000000
25%                0.000000           0.000000           0.000000
50%                0.000000           0.000000           0.000000
75%                1.000000           0.000000           0.000000
max                1.000000           1.000000           1.000000

        PaperlessBilling_Yes  PaymentMethod_Credit card (automatic)  \
count            7043.000000                            7043.000000
unique                   NaN                                    NaN
top                      NaN                                    NaN
freq                     NaN                                    NaN
mean                0.592219                               0.216101
std                 0.491457                               0.411613
min                 0.000000                               0.000000
25%                 0.000000                               0.000000
50%                 1.000000                               0.000000
75%                 1.000000                               0.000000
max                 1.000000                               1.000000

        PaymentMethod_Electronic check  PaymentMethod_Mailed check
count                      7043.000000                 7043.000000
unique                             NaN                         NaN
top                                NaN                         NaN
freq                               NaN                         NaN
mean                          0.335794                    0.228880
std                           0.472301                    0.420141
min                           0.000000                    0.000000
25%                           0.000000                    0.000000
50%                           0.000000                    0.000000
75%                           1.000000                    0.000000
max                           1.000000                    1.000000

[11 rows x 32 columns]

4. Escalonar variáveis numéricas com StandardScaler

In [15]:
print("\n Escalonando variáveis numéricas com StandardScaler ")

# Identificar colunas numéricas para escalonar
# Excluímos 'customerID' (identificador) e 'Churn' (variável alvo).
# Colunas que já são binárias (0/1) após o One-Hot Encoding não precisam estritamente de escalonamento,
# mas o StandardScaler as tratará, resultando em valores -1 ou 1 (aproximadamente) se houver apenas duas categorias,
# ou 0 se forem todas iguais.
numerical_cols = [col for col in df.columns if df[col].dtype in ['int64', 'float64'] and col not in ['customerID', 'Churn']]

 Escalonando variáveis numéricas com StandardScaler

In [17]:
from sklearn.preprocessing import StandardScaler

# Inicializar o StandardScaler
scaler = StandardScaler()

In [18]:
# Aplicar o escalonamento nas colunas numéricas selecionadas
# O fit_transform retorna um array NumPy
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [ ]:
print("\n DataFrame após Escalonamento com StandardScaler ")
df.info()
print(df.describe(include='all'))
df.head()

 DataFrame após Escalonamento com StandardScaler
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7043 non-null   object
 1   SeniorCitizen                          7043 non-null   float64
 2   tenure                                 7043 non-null   float64
 3   MonthlyCharges                         7043 non-null   float64
 4   TotalCharges                           7043 non-null   float64
 5   Churn                                  7043 non-null   int64
 6   gender_Male                            7043 non-null   float64
 7   Partner_Yes                            7043 non-null   float64
 8   Dependents_Yes                         7043 non-null   float64
 9   PhoneService_Yes                       7043 non-null   float64
 10  MultipleLines_No phone service         7043 non-null   float64
 11  MultipleLines_Yes                      7043 non-null   float64
 12  InternetService_Fiber optic            7043 non-null   float64
 13  InternetService_No                     7043 non-null   float64
 14  OnlineSecurity_No internet service     7043 non-null   float64
 15  OnlineSecurity_Yes                     7043 non-null   float64
 16  OnlineBackup_No internet service       7043 non-null   float64
 17  OnlineBackup_Yes                       7043 non-null   float64
 18  DeviceProtection_No internet service   7043 non-null   float64
 19  DeviceProtection_Yes                   7043 non-null   float64
 20  TechSupport_No internet service        7043 non-null   float64
 21  TechSupport_Yes                        7043 non-null   float64
 22  StreamingTV_No internet service        7043 non-null   float64
 23  StreamingTV_Yes                        7043 non-null   float64
 24  StreamingMovies_No internet service    7043 non-null   float64
 25  StreamingMovies_Yes                    7043 non-null   float64
 26  Contract_One year                      7043 non-null   float64
 27  Contract_Two year                      7043 non-null   float64
 28  PaperlessBilling_Yes                   7043 non-null   float64
 29  PaymentMethod_Credit card (automatic)  7043 non-null   float64
 30  PaymentMethod_Electronic check         7043 non-null   float64
 31  PaymentMethod_Mailed check             7043 non-null   float64
dtypes: float64(30), int64(1), object(1)
memory usage: 1.7+ MB
        customerID  SeniorCitizen        tenure  MonthlyCharges  TotalCharges  \
count         7043   7.043000e+03  7.043000e+03    7.043000e+03  7.043000e+03
unique        7043            NaN           NaN             NaN           NaN
top     7590-VHVEG            NaN           NaN             NaN           NaN
freq             1            NaN           NaN             NaN           NaN
mean           NaN  -4.842546e-17 -2.421273e-17   -6.406285e-17 -3.783239e-17
std            NaN   1.000071e+00  1.000071e+00    1.000071e+00  1.000071e+00
min            NaN  -4.399165e-01 -1.318165e+00   -1.545860e+00 -1.005780e+00
25%            NaN  -4.399165e-01 -9.516817e-01   -9.725399e-01 -8.299464e-01
50%            NaN  -4.399165e-01 -1.372744e-01    1.857327e-01 -3.905282e-01
75%            NaN  -4.399165e-01  9.214551e-01    8.338335e-01  6.648034e-01
max            NaN   2.273159e+00  1.613701e+00    1.794352e+00  2.825806e+00

              Churn   gender_Male   Partner_Yes  Dependents_Yes  \
count   7043.000000  7.043000e+03  7.043000e+03    7.043000e+03
unique          NaN           NaN           NaN             NaN
top             NaN           NaN           NaN             NaN
freq            NaN           NaN           NaN             NaN
mean       0.265370 -2.219500e-17  7.162933e-17    1.069396e-16
std        0.441561  1.000071e+00  1.000071e+00    1.000071e+00
min        0.000000 -1.009559e+00 -9.666223e-01   -6.540119e-01
25%        0.000000 -1.009559e+00 -9.666223e-01   -6.540119e-01
50%        0.000000  9.905318e-01 -9.666223e-01   -6.540119e-01
75%        1.000000  9.905318e-01  1.034530e+00    1.529024e+00
max        1.000000  9.905318e-01  1.034530e+00    1.529024e+00

        PhoneService_Yes  ...  StreamingTV_No internet service  \
count       7.043000e+03  ...                     7.043000e+03
unique               NaN  ...                              NaN
top                  NaN  ...                              NaN
freq                 NaN  ...                              NaN
mean        7.869137e-17  ...                     1.437631e-17
std         1.000071e+00  ...                     1.000071e+00
min        -3.054010e+00  ...                    -5.259274e-01
25%         3.274383e-01  ...                    -5.259274e-01
50%         3.274383e-01  ...                    -5.259274e-01
75%         3.274383e-01  ...                    -5.259274e-01
max         3.274383e-01  ...                     1.901403e+00

        StreamingTV_Yes  StreamingMovies_No internet service  \
count      7.043000e+03                         7.043000e+03
unique              NaN                                  NaN
top                 NaN                                  NaN
freq                NaN                                  NaN
mean      -3.278807e-18                         1.437631e-17
std        1.000071e+00                         1.000071e+00
min       -7.901317e-01                        -5.259274e-01
25%       -7.901317e-01                        -5.259274e-01
50%       -7.901317e-01                        -5.259274e-01
75%        1.265612e+00                        -5.259274e-01
max        1.265612e+00                         1.901403e+00

        StreamingMovies_Yes  Contract_One year  Contract_Two year  \
count          7.043000e+03       7.043000e+03       7.043000e+03
unique                  NaN                NaN                NaN
top                     NaN                NaN                NaN
freq                    NaN                NaN                NaN
mean           3.934569e-17      -4.136341e-17      -4.439000e-17
std            1.000071e+00       1.000071e+00       1.000071e+00
min           -7.960701e-01      -5.142494e-01      -5.629751e-01
25%           -7.960701e-01      -5.142494e-01      -5.629751e-01
50%           -7.960701e-01      -5.142494e-01      -5.629751e-01
75%            1.256171e+00      -5.142494e-01      -5.629751e-01
max            1.256171e+00       1.944582e+00       1.776278e+00

        PaperlessBilling_Yes  PaymentMethod_Credit card (automatic)  \
count           7.043000e+03                           7.043000e+03
unique                   NaN                                    NaN
top                      NaN                                    NaN
freq                     NaN                                    NaN
mean           -5.952296e-17                          -1.003819e-16
std             1.000071e+00                           1.000071e+00
min            -1.205113e+00                          -5.250473e-01
25%            -1.205113e+00                          -5.250473e-01
50%             8.297975e-01                          -5.250473e-01
75%             8.297975e-01                          -5.250473e-01
max             8.297975e-01                           1.904590e+00

        PaymentMethod_Electronic check  PaymentMethod_Mailed check
count                     7.043000e+03                7.043000e+03
unique                             NaN                         NaN
top                                NaN                         NaN
freq                               NaN                         NaN
mean                      3.556245e-17                2.219500e-17
std                       1.000071e+00                1.000071e+00
min                      -7.110260e-01               -5.448069e-01
25%                      -7.110260e-01               -5.448069e-01
50%                      -7.110260e-01               -5.448069e-01
75%                       1.406418e+00               -5.448069e-01
max                       1.406418e+00                1.835513e+00

[11 rows x 32 columns]